.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin: 7.5em;
    margin-top: 3em;
    box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 85%;
    background-color: white;
    transition-duration: 0.5s;
}

.header-sticky{
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.1);
    padding:0.5em;
    z-index: 100;
    width: 100%;
    background-color: rgba(255,255,255, 0.9);
    transition-duration: 0.5s;
}


.header-shortInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
}

.header-shortInfo>img {
    border: 2px dashed #11b78d;
    border-radius: 50px;
    padding: 0.6em;
}

.header-shortInfo>h2 {
    color: #11b78d;
    font-family: Inter, sans-serif;
    font-size: 3em;
    padding-left: 0.3em;
    line-height: 0.5em;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links>* {
    font-family: Inter, sans-serif;
    font-size: 1.5em;
    padding-right: 1.5em;
    color: #192d42;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

.header-links>a:hover {
    color: #11b78d;
}

.header-links>div:hover {
    color: #11b78d;
    cursor: pointer;
}

.header-links-addProperty-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #11b78d;
    width: 10em;
    height: 3em;
    margin-right: 1em;
    padding-right: 0px;
}

.header-links-addProperty-button:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #11b78d;
    background-color: #192d42;
}

.header-links-addProperty-button:active{
    box-shadow: 0 0 50px #11b78d;
}

.header-links-dropdownProperties {
    position: relative;
    display: inline-block;
}

.header-linksDropdownProperty {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    border: 1px black solid;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.header-linksDropdownProperty>a {
    text-decoration: none;
    color: #192d42;
    text-wrap: nowrap;
    text-transform: none;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 0.3em;
}

.header-linksDropdownProperty>a:first-child {
    margin-top: 0em;
}

.header-linksDropdownProperty>a:hover {
    background-color: #e8ecef;
}

.header-linksDropdownProperty.visible {
    opacity: 1;
    max-height: 1000px;
}


.header-links-dropdownPages {
    position: relative;
    display: inline-block;
}

.header-linksDropdownPage {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    border: 1px black solid;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.header-linksDropdownPage.visible {
    opacity: 1;
    max-height: 1000px;
}

.header-linksDropdownPage>a {
    text-decoration: none;
    color: #192d42;
    text-transform: none;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 0.3em;
}

.header-linksDropdownPage>a:first-child {
    margin-top: 0em;
}

.header-linksDropdownPage>a:hover {
    background-color: #e8ecef;
}

.burger-icon{
    display: none;
}

@media screen and (max-width: 1468px) {
    .header {
        justify-content: space-between;
        padding: 1.5em;
        margin: 0;
        width: 100%;
    }

    .header-sticky {
        padding: 0.5em;
    }

    .header-links {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 99;
    }

    .header-links.show {
        display: flex;
    }

    .header-links > * {
        padding: 1em;
    }

    .header-links > button {
        width: 100%;
        margin-top: 1em;
    }

    .header-links > div {
        width: 100%;
    }

    .header-shortInfo {
        display: none;
    }

    .burger-icon {
        display: block;
        cursor: pointer;
        order: 1;
    }

    .burger-icon img {
        width: 40px;
        height: auto;
    }
}