.propertyListing-about{
    position: relative;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:9%;
    margin-left:2.5%;
    margin-right:2.5%;
}

.propertyListing-about-text{
    display: flex;
    flex-direction: column;
}

.propertyListing-about-text > h3{
    font-family: Inter, sans-serif;
    margin:0px;
    font-size: 4em;
}

.propertyListing-about-text > p{
    font-family: Inter, sans-serif;
    color:#666565;
    line-height: 2em;
}

.propertyListing-about-nav-button{
    padding:1em;
    padding-left: 1.3em;
    padding-right:1.3em;
    margin-right:1em;
    background-color: white;
    border:1px solid #00b98d;
    border-radius: 8px;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 1em;
    transition-duration: 0.5s;
    box-shadow: 0 0 0 #00b98d;
}

.active{
    box-shadow: 0 0 15px #00b98d;
    background-color: #00b98d;
    color:white;
}

.propertyListing-about-nav > 
.propertyListing-about-nav > button:last-child{
    margin-right: 0em;
}

.propertyListing-posts{
    position: relative;
    z-index: 15;
    display: grid;
    margin-left: 2.5%;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    margin-top: 2%;
    width:85%;
}

.propertyListing-post{
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 500px;
    margin-right:10%;
    margin-bottom: 5%;
    border:0px solid transparent;
    border-radius: 25px;
    box-shadow: 0 0 5px black;
    overflow: hidden;
    cursor:pointer;
}


.propertyListing-post:hover  .propertyListing-post-header-photo{
    transform: scale(1.1);
}

.propertyListing-post-header{
    overflow: hidden;
    height:60%;
}

.propertyListing-post-header-status{
    position: relative;
    background-color:#00b98d;
    color:white;
    font-style: Inter, sans-serif;
    font-weight: bold;
    padding:0.5em 1em 0.5em 1em;
    border:1px solid transparent;
    border-radius:10px;
    top:-90%;
    left:5%;
}

.propertyListing-post-header-photo{
    width:100%;
    border-radius: 1px solid transparent;
    border-radius:25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;;
    transition: transform 0.3s ease-in-out;
}


.propertyListing-post-header-type{
    position:relative;
    background-color: white;
    color:#00b98d;
    padding:0.5em 1em 0.5em 1em;
    border-radius: 1px solid white;
    border-radius: 10px;
    right:13%;
    top:-2rem;
}

.propertyListing-post-main{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.propertyListing-post-main-price{
    font-style: Inter, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin:0px;
    margin-top:0.5em;
    color:#00b98d;
}

.propertyListing-post-main-title{
    font-style: Inter, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin:0px;
    margin-bottom:0.6em;
    margin-top: 0.4em;
}
.propertyListing-post-main-location{
    display: flex;
    font-style: Inter, sans-serif;
    font-size: 1em;
    color: #666565;
}

.post-main-gpsIcon{
    width:20px;
    padding-right: 3%;
}

.propertyListing-post-footer{
    margin-top: 1em;
    display: flex;
}

.propertyListing-post-footerPart{
    display: flex;
    justify-content: space-evenly;
    border:1px dashed #00b98d;
    border-bottom: none;
    border-left:none;
    width:33%;
    padding:0.7em;
}


.propertyListing-post-footerPart>img{
    width:20px;
}

.propertyListing-post-footerPart:last-child{
    border-right:none;
}

.propertyListing-browseMore{
    background-color: white;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color:#00b98d;
    font-size: 1.5em;
    padding:0.5em;
    margin-bottom: 1%;
    border:1.5px solid #00b98d;
    border-radius: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.propertyListing-browseMore:hover{
    box-shadow: 0 0 15px #00b98d;
    background-color: #00b98d;
    color:white;
}

@keyframes slideFromBottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* PropertyListing.css */

@media screen and (max-width: 1550px) {
    .propertyListing-posts{
        grid-template-columns: 45% 45%;
    }

    .propertyListing-post-header-status{
        top:-92%;
        left:5%;
    }
    .propertyListing-post-header-type{
        right:13%;
        top:-4rem;
    }

    .propertyListing-about{
        flex-direction: column;
        margin-bottom: 5%;
    }

    .propertyListing-about-nav{
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
}


@media screen and (max-width: 1170px) {
    .propertyListing-posts{
        grid-template-columns: 90%;
        min-height: 5000px;
        gap:2.5%;
    }

    .propertyListing-post{
        max-width: 65%;
        height: 600px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .propertyListing-post-header-status{
        top:-92%;
        left:8%;
    }
    .propertyListing-post-header-type{
        right:10%;
        top:-4.5rem;
    }
}