.addProperty-wrapper{
    padding:300px 10% 200px 10%;
    display:flex;
    justify-content:center;
    max-height:950px
}

.addProperty-imgWrapper{
    width:50%;
    overflow:hidden;
    background-color:#11b78d;
}

.propertyPicture{
    width: 100%;
    transition-duration: 0.3s;
    padding: 1%;
    cursor: zoom-in;
}

.propertyPicture:hover{
    transform: scale(1.2);
}

.addProperty{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #11b78d;
    width: 30%;
    font-family: Inter,sans-serif;
    color:white;
    padding-left: 5%;
}

.addProperty-title{
    font-size: 2rem;

}

.addProperty-form{
    width: 70%;
    height: 98%;
    padding: 1% 0 1% 0;
    display: flex;
    flex-direction: column;
}

.addProperty-form-part{
    display: flex;
    flex-direction: column;
    min-width: 25%;
    min-height: 10%;
}


.addProperty-form-input{
    font-family: Inter,sans-serif;
    font-size: 1rem;
    color: #11b78d;
    min-height: 30px;
    border: none;
    transition-duration: 0.3s;
}

.addProperty-form-input::-webkit-inner-spin-button,.addProperty-form-input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.addProperty-form-input:hover{
    box-shadow: 0 0 15px white;
}

.addProperty-form-input:focus{
    box-shadow: 0 0 50px white;
    outline: none;
}


.addProperty-form-select {
    font-size: 1rem;
    color: white;;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
    width: 100%;
    transition-duration: 0.3s;
}

.addProperty-form-select:hover{
    box-shadow: 0 0 15px white;
}

.addProperty-form-select:active{
    outline: none;
}

.addProperty-form-select:focus{
    outline: none;
    box-shadow: 0 0 50px white;
}

.addProperty-form-select-option{
    color: white;
    padding: 100px;
    font-size: rem;
    background-color: #11b78d;
}


.addProperty-form-submit{
    font-family: Inter,sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 5% 10% 5% 10%;
    color:#11b78d;
    background-color: white;
    border: transparent;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.addProperty-form-submit:hover{
    box-shadow: 0 0 50px #0e2e50;
    background-color: #0e2e50;;
    color: white;
}

@media screen and (max-width: 1468px){
    .addProperty-wrapper{
        flex-direction: column;
    }

    .addProperty-imgWrapper{
        width: 100%;
        min-height: 400px;
    }

    .addProperty-title{
        margin: 0px;
        padding: 0px;
        padding-top: 2%;
    }

    .addProperty{
        max-height: 60%;
        background-color: rgba(17, 183, 141, 0.9);
        background-image: './imgs/apartments.jfif';
    }


    .propertyPicture{
        min-height: 100%;
        padding: 0%;
    }

    .addProperty-form{
        width: 50%;
    }

    .addProperty-form-part{
        margin-top:3%;
    }

    .addProperty-form-submit{
        margin-top: 2%;
    }

    .addProperty{
        width: 99%;
        padding-left: 1%;
        align-items: center;
    }
}